*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    overflow: hidden;
}
.firstdiv {
    display: flex;
    background-color: white;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 15px;
    border-radius: 0px 0px 5px 5px;
}
.chain {
    width: 30px;
    height: 30px;
    color:white;
    padding: 5px;
    margin-top: 10px;
    margin-right: 40px;
    border:2px solid black;
    font-size: 35px;
    border-style: hidden;
    border-radius: 7px;
    background-color:  blueviolet;
}
.style {
    position: absolute;
    margin-left: -180px;
    margin-top: 12px;
    color: black;
}
